openapi: 3.0.0
info:
  title: blog
  description: blog app
  version: "1.0.0"
paths:
  # Auth
  "/api/login":
    post:
      tags:
        - auth
      summary: login機能
      description: loginのAPIドキュメント
      requestBody:
        description: loginのリクエストボディ
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authorizationRequestBody"
      responses:
        "200":
          description: ログイン成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tokenResponse"
        "422":
          description: validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/api/logout":
    delete:
      tags:
        - auth
      summary: logout機能
      description: logoutのAPIドキュメント
      requestBody:
        description: logoutのリクエストボディ
        required: true
        content:
          application/json:
            schema:
              # TODO: リクエストボディについて考える
              $ref: "#/components/schemas/logoutRequestBody"
      responses:
        "200":
          description: "successful logout"
          content:
            application/json:
              schema: {}
        "422":
          description: validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  "/api/register":
    post:
      tags:
        - user
      summary: ユーザー登録
      description: ユーザー登録のAPIドキュメント
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authorizationRequestBody"
      responses:
        "200":
          description: "successful register"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tokenResponse"
        "422":
          description: validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  # Words
  "/api/words":
    get:
      tags:
        - words
      summary: Word一覧のAPIドキュメント
      description: Word一覧取得のAPIドキュメント
      parameters:
        - name: per_page
          in: query
          description: 1ページあたりのアイテム数
          required: false
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          description: オフセット
          required: false
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: 単語一覧成功時
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: "#/components/schemas/word"
        "422":
          description: validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
    post:
      tags:
        - words
      summary: Word作成のAPI
      description: Word作成のAPIドキュメント
      requestBody:
        description: word作成のリクエストボディ
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createWordRequestBody"
      responses:
        "201":
          description: 単語作成時
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/word"
        "422":
          description: validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
    put:
      tags:
        - words
      summary: Word編集のAPI
      description: word編集のAPIドキュメント
      parameters:
        - name: id
          description: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: word編集のリクエストボディ
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/word/${id}"
      responses:
        "201":
          description: 単語修正時
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/word"
        "422":
          description: validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
components:
  schemas:
    authorizationRequestBody:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
      required:
        - email
        - password
    tokenResponse:
      type: object
      properties:
        token:
          type: string
      required:
        - tolen
    logoutRequestBody:
      type: object
      properties:
        userId:
          type: integer
    word:
      type: object
      properties:
        id:
          type: integer
        title:
          description: 単語の名前
          type: string
        definition:
          description: 単語の意味
          type: string
      required:
        - id
        - title
        - definition
    createWordRequestBody:
      type: object
      properties:
        title:
          description: 単語の名前
          type: string
        definition:
          description: 単語の意味
          type: string
      required:
        - title
        - definition
    HTTPValidationError:
      type: object
      title: HTTPValidationError
      properties:
        detail:
          type: array
          title: detail
          items:
            $ref: "#/components/schemas/ValidationError"
    ValidationError:
      type: object
      title: ValidationError
      required:
        - loc
        - msg
        - type
      properties:
        loc:
          type: array
          title: Location
          items:
            anyOf:
              - type: string
              - type: integer
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
